<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="col-md-6">
                <form class="form-horizontal">
                    <div class="page-header">
                        <h2>Welcome</h2>
                    </div>
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label" for="userid">Login</label>
                            <input required="" id="userid" name="userid" type="text" class="form-control" ng-model="vm.credentials.login">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="passwordinput">Password</label>
                            <input required="" id="passwordinput" name="passwordinput" class="form-control" type="password" ng-model="vm.credentials.password" >
                        </div>
                        <div class="form-group">
                            <button id="signin" name="signin" class="btn btn-success" ng-click="vm.signin()">Sign in</button>
                            <a class="pull-right register-link" ng-href="/register">Sign up</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
</section>
